body{
	margin: 0;
	background-color: #D8DA3D;
	color: #80007E;
	font-family: Georgia;
}
footer{
    margin-top: 40px;
	font-style: italic;
}
h1{
    font-family: sans-serif;
}
.container{
	display: flex;
	padding: 20px;
}
.content{
	flex: 1;
}
.sidebar{
	width: 220px;
	margin-right: 60px;
	margin-top: 50px;
}
.sidebar a{
	display: block;
	background: white;
	color: #80007E;
	text-decoration: none;
	margin-bottom: 8px;
	font-family: Georgia;
	padding: 10px;
	height: 15px;
}
.link1{
    border-right: 20px solid #FF7F00;
}
.link2{
    border-right: 20px solid #0000FF;
}
hr{
	border: 1px dotted #80007E;
	margin: 25px 0;
}
.first{
    font-size: 18px;
    color: black;
    border: 3px dashed black;
    padding: 10px
}
.second{
    font-size: 18px;
    color: black;
    border: 3px dashed #FF7F00;
    padding: 10px;
    font-style: italic;
    text-align: right;
}
.third{
    font-size: 18px;
    color: black;
    padding: 10px;
    text-align: center;
    border: 2px dotted #0000FF;
    font-weight: bold;
}