body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    background-color: rgb(18, 17, 17);
    height: 50px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    color: white;
}
nav li{
    margin-top: 20px;
    margin-left: 80px;
}
section{
    margin-top: 0;
}
.first{
    background-color: #ddf0ff;
    height: 380px;
    padding-left: 80px;
    padding-right: 180px;
    padding-top: 80px;
}
h2{
    margin-top: 0;
}
.first button{
    background-color: #1095ff;
    color: white;
    height: 40px;
    width: 140px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.first img{
    margin-left: 50px;
    float: right;
}
.second{
    background-color: #68edb6;
    height: 380px;
    padding-right: 180px;
    padding-top: 80px;
}
.second img{
    margin-left: 80px;
    margin-right: 30px;
    float:left;
}
.second button{
    background-color: #00bc6e;
    color: white;
    height: 40px;
    width: 140px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.card-holder{
    display: flex;
    margin: 60px 250px;
    gap: 25px;
}
.card{
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 5px; 
    text-align: center;
}
.card button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 23px;
    background-color: white;
}
.card-heading{
    font-size: 25px;
}
.footer{
    background-color: #515151;
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
    color: rgb(187, 187, 187); 
}
.footer ul{
    list-style: none;
}
.footer li{
    margin: 7px;
}
.footer div{
    padding-top: 50px;
}
.footer ul li:first-child{
    font-size: large;
    color: white;
}
@media(max-width: 576px){
    .nav{
        width: 100%;
    }
    .first{
        width: 100%;
        min-height: 700px;
        display: block;
        width: 100%;
        padding-left: 40px;
    }
    h2 img{
    float:none;      
    display:block;   
    margin:0 auto 10px; 
    width:100%;      
    max-width:300px; 
  }
    
    .second{
        height: 700px;
        display: block;
        width: 100%;
        padding-left: 40px;
    }
    .card-holder{
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start;     
        margin: 20px 0 20px 20px;     
        gap: 15px;    
    }
    .card{
        width: 200px;
        align-items: left;
    }
    .footer{
        width: 100%;
        flex-direction: column;
    }
    
}
@media(max-width: 764px){
    .nav{
        width: 100%;
    }
    .first{
        width: 100%;
        min-height: 500px;
        display: block;
        width: 100%;
        padding-left: 40px;
    }
    h2 img{
    float:none;      
    display:block;   
    margin:0 auto 10px; 
    width:100%;      
    max-width:300px; 
  }
    
    .second{
        height: 500px;
        display: block;
        width: 100%;
        padding-left: 40px;
    }
    .card-holder{
        display: flex;
        flex-wrap: wrap;    
        margin: 20px 0 20px 20px;     
        gap: 15px;    
    }
    .card{
        width: 200px;
        align-items: left;
    }
    .footer{
        width: 100%;
        flex-direction: column;
    }
    
}
